<header>
	<h1>Along the Way</h1>
</header>
<form class="init">
	<input name="start" id="start" placeholder="Will be populated automatically">
	<input name="destination" id="destination" placeholder="Where do you want to go?">
	<a href="#map">
		<input type="submit" id="search" value="Go!">
	</a>
</form>
{{!-- Add a footer --}}