<header>
	<h1>Along the Way</h1>
</header>
<section>
<form class="init">
	<input name="start" id="start" placeholder="Will be populated automatically">
	<input name="destination" id="destination" placeholder="Where do you want to go?">
	<input type="submit" id="search" value="Go!">
</form>
</section>
{{!-- Add a footer --}}
