<form class="init">
	<label>Start:</label>
	<input name="start" id="start" placeholder="Will be populated automatically">
	<label>Destination:</label>
	<input name="destination" id="destination" placeholder="Where do you want to go?">
<a href="#map"><input type="submit" id="search" value="GO"/></a>
</form>
