<input id="filter-btns" type="submit" value="Food"/>
<input id="filter-btns" type="submit" value="Restaurants"/>
<input id="filter-btns" type="submit" value="Bars"/>
<section id="map-canvas"></section>
